	{% extends "base.html" %}
	{% block content %}
	{% for post in posts %}

    <div class="container" style="width: 100%;">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Title : {{post.title}}</h2>
        <p>Content : {{post.content}}</p>
<!--         <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">View navbar docs &raquo;</a>
        </p> -->
      </div>

    </div> 
	{% endfor %}
	{% endblock %}